.accordion__item {
    margin-bottom: 1rem;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;  
  }

  .accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    color: #fff;
    font-weight: 500;
    background: #FFFFFF;
    font-size: 26px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    color: #000;
    border-radius: 10px;  
  }

  .accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    filter: invert(33%) sepia(0%) saturate(3110%) hue-rotate(318deg) brightness(89%) contrast(79%);
    color: #545454;
  }

  .accordion__item_show .accordion__header::after {
    transform: rotate(-180deg);
  }

  .accordion__item_hidden .accordion__header {
    padding: 20px;
  }

  .accordion__body {
    padding: 0.75rem 1rem;
    overflow: hidden;
    background: #fff;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    display: flex;
    & .img {
        color:black;
    }

    & .acco_text {
        color:black;
        padding:5px 25px;
    }
  }

  

  .accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
  }