.bread__wrapper__section {
    max-width: 101.125rem;
    width: 100%;
    margin: 0 auto;
}
.bread__wrapper {
    padding: 10px 40px;
    display: inline-flex;
    align-items: flex-start;
    
    li {
        margin: 0 20px;
    }
    li:active, li:hover {
        text-decoration: underline;
    }
    li:first-child {
        list-style-type: none;
        }
}
@media ( min-width: 320px) and (max-width: 800px) {
    .bread__wrapper {
        padding: 10px 0;
    }
}