.header {
    // width: 80%;
    // margin: 0 10%;
}
.header__top__item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.header_logo {
    flex-grow: 2;
    margin: 0.625rem 0 0 0;
}
.logo__img {
    width: 85%;
}
.header_item {
    display: inline-flex;
    font-size: 0.75rem;
    margin: 0.625rem 0 0 2.5rem;
}
.header__flag::before {
    content: url("../img/flag.svg");
    margin: 0 5px 0 0;
}
.header__time::before {
    content: url("../img/watch.svg");
    margin: 0 5px 0 0;
}
.header__mail::before {
    content: url("../img/mail.svg");
    margin: 0 5px 0 0;
}
.header__nav {
    margin: 5px 0 15px 0;
    display: flex;
    justify-content: space-between;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
        align-items: center;
        column-gap: 65px;
    }
    li {
        font-size: 0.90rem;
        text-align: center;
        padding: 8px 16px;
    }
    li:hover, li:active {
        outline: solid 1px #003D9E;
        border-radius: 4px;
    }
}

.li_active {
    outline: solid 1px #003D9E;
    border-radius: 4px;
}

.phone {
    font-size: 22px;
    font-weight: bold;
    padding-right: 30px;
}

.phone::before {
    content: url("../img/phone.svg");
    margin: 0 5px 0 0;
}
.header__nav__btn {
    border: 1px solid #35393F;
    border-radius: 3px;
    background-color: #fff;
    width: 9.35rem;
    height: 30px;
    text-align: center;
    padding: 8px 20px;
    font-size: 14px;
}