.how_to_get {
    padding: 30px 0px;
}

.how_to_get_inner {
    display: flex;
}

.how_to_get_text {
    background: #000000;
    opacity: 0.8;
    color: white;
    min-width: 380px;
    max-height: 366px;
    padding: 40px 40px;
    border-radius: 10px 0 0 10px;
    
    & p {
        //padding: 5px 0px;
        //margin-bottom: 30px 
    }

    & a {
        color: white;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        padding: 15px 15px;
    }
}

.how_to_get_text2 {
    color: black;
    max-width: 380px;
    max-height: 426PX;
    padding: 40px 40px;
    
    & p {
        padding: 5px 0px;
        margin-bottom: 30px;
    }

    & a {
        color: white;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        padding: 15px 15px;
    }
}

.how_to_get_img {
    
    img {
        width: 100%;
        object-fit: cover;
        min-height: 366px;
    }
}

.img_how {
    object-fit: cover;
}

.how_to_get_img_2 {
    width:100%;
    min-height: 426px;
}
/*Mob*/
@media ( min-width: 350px) and (max-width: 800px) {
   .how_to_get_text {
    background: #FFFFFF;
    padding: 20px 0 20px 0;
    p {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
    padding: 0px;
    margin: 0px;
    img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
    }
   }
   .how_to_get_inner_mob {
    p {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #000000;
padding: 10px 0;
    }
   }
 }