.master_wrapper {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
border-radius: 10px;
    img {
        min-width: 25%;
        border-radius: 10px 0px 0px 10px;
    }
}
.master_content {
    width: 40%;
    padding: 3% 7%;
    h2 {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;

color: #35393F;
    }
    p {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
    }
}
.master_contact {
    width: 40%;
    background: #F9F9F9;
    padding: 3% 5%;
    h3 {
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #000000;
margin: 30px 0;
    }
    p {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #070000;
    }
}
.master_input_form {
    width: 100%;
min-height: 60px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #C8C8C8;
margin: 15px 0;
padding: 10px;
}
.master_input_btn {
    width: 100%;
min-height: 50px;
background: #003D9E;
border: 1px solid #003D9E;
border-radius: 4px;
margin: 15px 0;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}
@media ( min-width: 550px) and (max-width: 1225px) {
    .master_mob_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
        
        img {
            width: 100%;
            padding-bottom:20px;
        }
    }
    .master_contact_mob {
        width: 50%;
min-height: 330px;
background: #F9F9F9;
border-radius: 10px;
margin: -350px auto 0 auto;
display: flex;
flex-direction: column;
align-items: center;
    }
   
 }
@media ( min-width: 320px) and (max-width: 550px) {
    .master_mob_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
        }
    }
    .master_contact_mob {
        width: 85%;
min-height: 330px;
background: #F9F9F9;
border-radius: 10px;
margin: -160px auto 0 auto;
display: flex;
flex-direction: column;
align-items: center;
    }
    
 }