.container_sec {
//width: 1538px;
margin: 0 auto;
}

.cont {
    margin: 35px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.h2 {
    margin-left: 30px;
}

.works_img {
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.works_img:hover {
    background-color: green;
    cursor: pointer;
  }

  .text {
    display:none;
  }