.aboutus_who_are_we_wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    h2 {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36PX;
line-height: 61px;
color: #000000;
padding: 0;
    }
}
.who_are_we_content_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.who_are_we_text {
    width: 50%;
    margin: 0 40px 0 0;
    padding: 0 40px 0 0;
    p {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;

    }
}
.who_are_we_img {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img {
        width: 46%;
        margin: 2%;
    }
}
/*Mobile*/
@media ( min-width: 320px) and (max-width: 1200px) {
    .aboutus_who_are_we_wrapper {
        margin-top: 75px;
        h2 {
            font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 23px;
color: #000000;

        }
    }
    .who_are_we_content_wrapper {
        flex-direction: column-reverse;

    }
    .who_are_we_text {
        width: 100%;
        padding: 10px 10px;
    }
    .who_are_we_img {
        margin-top: 20px;
        width: 100%;
    }
    .who_are_we_img {
        img {
            max-height: 330px;
        }
    }
 }