@import '../../node_modules/normalize.css/normalize.css';
// @import '../../node_modules/swiper/swiper.scss';

@import './breakpoints.scss';
@import './mixins.scss';
// ------------------------------------
//      V A R I A B L E S
// ------------------------------------

$font-family: 'Roboto', sans-serif;
$font-color: #545454;
$base-transition: all 230ms ease;

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    font-family: $font-family;
    color: $font-color;
    font-size: 14PX;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include respond-from('laptop-hdpi') {
        font-size: 16PX;
    }
    @include respond-from('2K') {
        font-size: 18PX;
    }
    @include respond-from('UHD') {
        font-size: 60PX;
    }
}

.site-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    max-width: 1538px + 80px;
    margin: 0 auto;
    padding: 0 40px;
    transition: $base-transition;
    @include respond-to('medium') {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/*black theme*/
.black_theme {
    background: #101015;
    p,a, h1, h2, h3 {
        color: #FFFFFF;
    }
    address {
        color: #848484;
    }
}
.mob {
    display: none;
}
/*mobile*/


@media ( min-width: 350px) and (max-width: 1250px) {
   .not_mob {
    display: none;
   }
   .mob {
    display: block;
}
}


// ------------------------------------
//      B L O C K S
// ------------------------------------

@import './blocks/typography.scss';
@import './blocks/buttons.scss';
@import './blocks/icons.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/banner.scss';
@import './blocks/member_slider.scss';
@import './blocks/services.scss';
@import './blocks/service/service_banner.scss';
@import './blocks/service/serv_tab.scss';
@import './blocks/service/service_slider.scss';
@import './blocks/service/benefits.scss';
@import './blocks/our_works.scss';
@import './blocks/swiper_partners.scss';
@import './blocks/swiper_brands.scss';
@import './blocks/swiper_licensies.scss';
@import './blocks/accordion.scss';
@import './blocks/about_us_main.scss';
@import './blocks/how_to_get.scss';
@import './blocks/bread.scss';
@import './blocks/enroll_block.scss';
@import './blocks/team/team_page.scss';
@import './blocks/member_page/member_card.scss';
@import './blocks/member_page/member_reviews.scss';
@import './blocks/feedback_block.scss';
@import './blocks/about_us/about_us.scss';
@import './blocks/who_are_we.scss';
@import './blocks/about_us/video_full.scss';
@import './blocks/services_page/card.scss';
@import './blocks/services_page/card.scss';
@import './blocks/news/news_page.scss';
@import './blocks/news/read_news.scss';
@import './blocks/service_catalog/service_catalog.scss';
@import './blocks/vacancy.scss';
@import './blocks/anketa/anketa.scss';
@import './blocks/clients/clients.scss';



// ------------------------------------
//      S E C T I O N S
// ------------------------------------

