/*banner*/
.clients_catalog_img {
    width: 100%;
    z-index: 0;
}
.clients_catalog_banner {
    h1 {
        width: 35%;
        position: absolute;
        top: 5%;
        left: 5%;
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
color: #FFFFFF;
text-align: left;
text-transform:uppercase;
z-index: 100;
    }
}
.clients_catalog_banner_shadow {
    z-index: 50;
}
.clients_catalog_banner_wripper {
    display: flex;
    flex-direction: column;
    position: relative;
    img {
        border-radius: 10px;
    }
    ul {
        position: absolute;
        top: 45%;
        left: 5%;
    }
    li {
        z-index: 100;
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
position: relative;
    }
    li::marker {
        color: #5B9DFF;
    }
    a {
        position: absolute;
        z-index: 100;
        top: 70%;
        left: 5%;
        width: 239px;
height: 36px;
border: 1px solid #D1D1D1;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #D1D1D1;
    }
}
.clients_catalog_banner_wripper::before {
  content: '';
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background:  radial-gradient(circle at 80% 40%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 0%);
  border-radius: 10px;
}
/*benefits*/
.clients_service__benefits {
    h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    }
}
.clients_benefits__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.clients_benefits__item {
    flex-basis: 30%;
    background: transparent;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
    border: 1px solid #6D7487;
    border-radius: 10px;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        width: 30%;
        padding: 10px 30px;
    }
}
.clients_benefits__content {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: flex-start;
    h3 {
        width: 80%;
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
    }
    p {
        width: 80%;
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
    }
}
/*statistic*/
.clients_statistic_about_us_wrapper {
    display: flex;
    flex-direction: row;
    padding: 80px 2%;
    justify-content: space-between;
}
.clients_statistic_about_us_item {
    width: 24%;
    display: flex;
    flex-direction: row;
    img {
        height: 20%;
    }
}
.clients_statistic_about_us_item_wapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
    height: 100%;
    h2 {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
-webkit-text-stroke-width: 1.2px;
   -webkit-text-stroke-color: #5B9DFF;
   -webkit-text-fill-color: transparent;
   margin: 20px 0 !important;
   padding: 0 !important;
    }
    
    p {
        width: 100%;
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
align-self:flex-end;
    }
    span {
        font-size: 38px;
    }
}
/*call*/
.clients_call_form_wrapper {
    display: flex;
    flex-direction: row;
    background: #191920;
border-radius: 10px;
min-height: 250px;
img {
    width: 94px;
    height: 94px;
}
h3 {
    width: 25%;
    color: #5B9DFF;
}
align-items: center;
    justify-content: space-around;
}
.clients_call_form_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
/*contract form*/
.contract_form_clients {
    margin: 40px 0;
}
.contract_form_clients_wrapper {
    display: flex;
    flex-direction: column;
}
.contact_form_title {
    background: #212129;
border-radius: 10px 10px 0px 0px;
min-height: 140px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 61px;
color: #FFFFFF;
padding: 0 40px;
}
.contact_form_input_wrapper {
    background: #191920;
    border-radius: 0px 0px 10px 10px;
    padding: 40px 20px;
    
    h3 {
        font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
color: #D1D1D1;
padding: 0 0 40px 0;
    }
}
.contact_form_input_wrapper {
    display: flex;
    flex-direction: column;
}
.contact_form_input_wrapper_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact_form_input_item_wripper {
    width: 30%;
    p {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #6D7487;
margin: 0;
padding: 0;
    }
    input {
        min-width: 420px;
        min-height: 50px;
        background: #1E1E28;
border: 1px solid #353546;
border-radius: 4px;
text-align: left;
color: #6D7487;
    }
}
.contact_form_enroll {
    align-self: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
min-width: 300px;
min-height: 50px;
margin-top: 40px;
}
.contact-checkbox {
    align-self: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #6D7487;
margin-top: 40px;
}
.white_text {
    color: #fff;
}
/*mobile*/


@media ( min-width: 350px) and (max-width: 1250px) {
    .clients_catalog_banner_wripper {
        justify-content: flex-end;
        position: relative;
        h1 {
            font-size: 18px;
line-height: 22px;
position: absolute;
top: 50%;
max-height: 50px;
        }
        ul {
            position: absolute;
            top: 70%;
height: auto;
left: 0px;
            li {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
.clients_service__benefits {
    h2 {
        margin-top: 70px;
        font-size: 22px;
line-height: 26px;
    }
}

.clients_benefits__item {
    flex-basis: 46% !important;
    margin: 10px 2%;
    padding: 0;
}
.clients_benefits__content {
    h3 {
        width: 100%;
        font-size: 13px;
line-height: 17px;
color: #5B9DFF;
    }
    p {width: 100%;
        font-size: 12px;
        line-height: 14px;}
}
.clients_statistic_about_us_wrapper {
    flex-wrap: wrap;
}
.clients_statistic_about_us_item {
    flex-basis: 48%;
}
.clients_statistic_about_us_item_wapper {
    h2 {
        font-size: 30px;
line-height: 37px;
    }
    p {
        font-size: 14px;
line-height: 16px;
    }
}
.clients_call_form_wrapper {
    flex-wrap: wrap;
    img {
        margin: 30px 20px;
        max-width: 52px;
        max-height: 52px;
    }
    h3 {
        width: 75%;
        font-size: 16px;
line-height: 18px;
    }
}
.clients_call_form_container {
   flex-direction: column;
   flex-basis: 100%;
   margin: 20px;
}
.contact_form_title {
    min-height: 100px;
    h2 {
        font-size: 20px;
line-height: 24px;
    }
}
.contact_form_input_wrapper {
    flex-direction: column;
    h3 {
        font-size: 16px;
line-height: 18px;
    }
}
.contact_form_input_item_wripper {
    width: 100%;
    p {
        width: 100%;
    }
    input {
        min-width: 280px;
    }
}
.our_works_mob_btn {
    // border: 1px solid #FFFFFF;
border-radius: 4px;
// color: #fff;
font-size: 16px;
line-height: 19px;
}
.how_to_get_text {
    background-color: transparent;
    
}
.white_text {
    color: #fff !important;
    p {
        color: #fff !important;
    }
}
 }
 @media ( min-width: 550px) and (max-width: 1225px) {
    .clients_call_form_wrapper {
        flex-wrap: nowrap;
    }
 }
 .white_text {
    color: #fff !important;
    p {
        color: #fff !important;
    }
}
.our_works_mob_btn_black {
    background: transparent;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 320px;
    min-height: 50px;
    border: 1px solid #fff;
    border-radius: 4px;
}