/*banner*/
.service_catalog_img {
    width: 100%;
    z-index: 0;
}
.service_catalog_banner {
    h1 {
        width: 35%;
        position: absolute;
        bottom: 0;
        left: 5%;
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
color: #FFFFFF;
text-align: left;
text-transform:uppercase;
z-index: 3;
    }
}
.service_catalog_banner_shadow {
    z-index: 50;
}
.service_catalog_banner_wripper {
    position: relative;
}
.service_catalog_banner_wripper::before {
  content: '';
  z-index: 1;
  width: 100%;
  height: 99%;
  display: block;
  position: absolute;
  background:  rgba(0, 0, 0, 0.4) 0%;
  border-radius: 10px;
}
.service_catalog_wripper {
    display: flex;
    flex-direction: column;
    h2 {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
color: #000000;
padding: 0 40px;
margin-top: 70px;
    }
}
.service_catalog_cards_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 360px;
    overflow: hidden;
}
.service_catalog_card_item_wripper {
    width: 31%;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
border-radius: 10px;
padding: 0 40px;
display: flex;
flex-direction: column;
margin: 10px 1%;
h3 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
color: #000000;
}
li {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
padding: 2px 0;
}
li::marker {
   color: #003D9E;
}
a {
    align-self: self-start;
    padding: 20px 0;
}

}
.see_more:active, .see_more:hover {
    text-decoration-line: underline;
    color: #003D9E;
}
.service_catalog_btn_more {
    width: 250px;
height: 40px;
    align-self: center;
    background: transparent;
border: 1px solid #35393F;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin: 40px 0;
color: #35393F;
}
.active_srv_ctl_more {
    max-height: 100%;
    margin-bottom: 20px;
}
/*mobile*/


@media ( min-width: 320px) and (max-width: 800px) {
    .service_catalog_img {
        min-height: 200px;
    }
    .service_catalog_banner_wripper::before {
        
        background:  linear-gradient(48.63deg, #24539C 8.89%, rgba(0, 0, 0, 0) 70.34%) 0%;
      }
      .service_catalog_banner {
        h1 {
            
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    top: 60%;
        }
    }
    .service_catalog_banner_wripper::before {
        
        height: 100%;
        
      }
      .service_catalog_banner_btn {
        width: 100%;
        min-height: 50px;
        background: #003D9E;
border-radius: 4px;
margin: 30px 0 50px 0;
display: flex !important;
flex-direction: column;
justify-content: center;
align-items: center;
        a {
            font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
        }
      }
      .service_catalog_wripper {
        h2 {
            font-size: 20px;
line-height: 24px;
padding-left: 40px;
        }
    }
    .service_catalog_card_item_wripper {
        width: 48%;
        margin: 10px 1%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
h3 {
    font-size: 16px;
line-height: 20px;
}
ul {
    padding-left: 20px;
    margin: 0;
}
li {
    font-size: 12px;
line-height: 14px;
}
a {
    padding: 20px 0;
    align-self: flex-start;
}
    }
 }