{% extends "layouts/default.html" %}


{% block title %} about us {% endblock %}
{% block head %}{% endblock %}
{% block bodyClass %}{% endblock %}
{% block content %}

<!-- SECTIONS -->

{% include './sections/about_us/about_us_banner.html' %}
{% include './sections/about_us/video.html' %}
{% include './sections/about_us/statistic.html' %}
{% include './sections/about_us/swiper.html' %}
{% include './sections/about_us/team.html' %}

{% include './sections/about_us/contacts.html' %}
{% include './sections/our_works.html' %}

{% endblock %}
{% block beforeScripts %}{% endblock %}
{% block scripts %}{% endblock %}