{% extends "layouts/black_theme.html" %}


{% block title %} clients {% endblock %}
{% block head %}{% endblock %}
{% block bodyClass %}{% endblock %}
{% block content %}

<!-- SECTIONS -->
{% include './sections/clients/bread.html' %}
{% include './sections/clients/banner.html' %}
{% include './sections/clients/benefits.html' %}
{% include './sections/clients/statistic.html' %}
{% include './sections/clients/call.html' %}
{% include './sections/services.html' %}
{% include './sections/swiper_partners.html' %}
{% include './sections/our_works.html' %}
{% include './sections/how_to_get.html' %}

{% endblock %}
{% block beforeScripts %}{% endblock %}
{% block scripts %}{% endblock %}