{% extends "layouts/default.html" %}


{% block title %} test page {% endblock %}
{% block head %}{% endblock %}
{% block bodyClass %}{% endblock %}
{% block content %}

<!-- SECTIONS -->
{% include './sections/banner.html' %}
{% include './sections/services.html' %}
{% include './sections/swiper_brands.html' %}
{% include './sections/about_us_main.html' %}
{% include './sections/swiper_licensies.html' %}
{% include './sections/how_to_get.html' %}
{% include './sections/master.html' %}
{% include './sections/swiper_partners.html' %}
{% include './sections/our_works.html' %}
{% include './sections/accordion.html' %}
{% include './sections/popup.html' %}

{% endblock %}
{% block beforeScripts %}{% endblock %}
{% block scripts %}{% endblock %}
