{% extends "layouts/default.html" %}


{% block title %} service page {% endblock %}
{% block head %}{% endblock %}
{% block bodyClass %}{% endblock %}
{% block content %}

<!-- SECTIONS -->
{% include './sections/bread.html' %}
{% include './sections/service_catalog/banner.html' %}
{% include './sections/service_catalog/service_catalog.html' %}
{% include './sections/services.html' %}
{% include './sections/enroll_block.html' %}
{% include './sections/swiper_brands.html' %}
{% include './sections/news/read_news.html' %}

{% endblock %}
{% block beforeScripts %}{% endblock %}
{% block scripts %}{% endblock %}