{% extends "layouts/default.html" %}


{% block title %} service page {% endblock %}
{% block head %}{% endblock %}
{% block bodyClass %}{% endblock %}
{% block content %}

<!-- SECTIONS -->
{% include './sections/bread.html' %}
{% include './sections/service/service_banner.html' %}
{% include './sections/service/service_tab.html' %}
{% include './sections/service/service_slider.html' %}
{% include './sections/member_slider.html' %}
{% include './sections/service/benefits.html' %}

{% endblock %}
{% block beforeScripts %}{% endblock %}
{% block scripts %}{% endblock %}