<footer class="footer">
    <div class="container">
      <div class="footer_wrapper">
      <div class="footer_contacts_wrapper">
        <div class="footer_mail">
          <img src="img/mail_footer.svg" class="footer_icon icon_mail"><a href="tel:">{{ vars.email }}</a>
        </div>
        <div class="footer_phone">
          <img src="img/phone_footer.svg" class="footer_icon icon_phone"><a href="tel:{{ vars.phone | toTel }}">{{ vars.phone }}</a>
        </div>
        <div class="footer_adress">
          <img src="img/map_footer.svg" class="footer_icon icon_flag">
          <p>{{ vars.address }}</p>
        </div>
        <div class="footer_watch">
          <img src="img/watch_footer.svg" class="footer_icon icon_watch">
          <p>Пн-Пт: 08:00 - 19:00,</br> Сб: 08:00 - 17:00,</br> Вс: выходной</p>
        </div>
        </div>
      <div class="footer_enroll">
        <form name="enroll" class="enroll_connection_wrapper_footer method="post" action="">
              <p>Ваш контактный телефон<br>
              <input class="input_phone_footer" type="text" value="+7(9__)___-__-__">
             </p>
             
             <div class="checkbox">
              <input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo">
              <label for="color-1">Политика конфиденциальности</label>
            </div>             
            <input class="enroll_footer_buttom pointer" type="submit" value="Оставить заявку">
         </form>
         <p class="copyright">ypetrovicha.ru (c) 2022</p>
      </div>
      <div class="footer_services_wrapper">
        <p>Услуги</p>
        <div class="footer_services">
          <ul>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
          </ul>
          <ul>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
            <li><a href="">легковой сервис</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    </div>
</footer>

<!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
 <script>
var swiper1 = new Swiper('#swiper-products', {
      loop: true,
      centeredSlides: true,
      slidesPerView: 5,
      initialSlide: 2,
      direction: getDirection(),
      navigation: {
        nextEl: '.swiper-button-next-products',
        prevEl: '.swiper-button-prev-products',
      },
      on: {
        resize: function () {
          swiper.changeDirection(getDirection());
        },
      },
    });
 
    function getDirection() {
      var windowWidth = window.innerWidth;
      var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';
      return direction;
    }
 </script>

   <!-- Initialize Swiper -->
 <script>
var swiper2 = new Swiper('#swiper-services', {
      loop: true,
      centeredSlides: true,
      slidesPerView: 5,
      initialSlide: 2,
      direction: getDirection(),
      navigation: {
        nextEl: '.swiper-button-next-services',
        prevEl: '.swiper-button-prev-services',
      },
      on: {
        resize: function () {
          swiper.changeDirection(getDirection());
        },
      },
    });
 
    function getDirection() {
      var windowWidth = window.innerWidth;
      var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';
      return direction;
    }
 </script>

    <!-- Initialize Swiper -->
 <script>
var swiper3 = new Swiper('#swiper-member', {
      loop: true,
      centeredSlides: true,
      slidesPerView: 5,
      initialSlide: 2,
      direction: getDirection(),
      navigation: {
        nextEl: '.swiper-button-next-member',
        prevEl: '.swiper-button-prev-member',
      },
      on: {
        resize: function () {
          swiper.changeDirection(getDirection());
        },
      },
    });
 
    function getDirection() {
      var windowWidth = window.innerWidth;
      var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';
      return direction;
    }
 </script>
