.team_page_button_wrapper {
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin: 10px 0 80px 0;
}
.team_page_button {
min-width: 374px;
height: 50px;
background: #003D9E;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
border: 0;
}
.new_swiper_substrate {
    top:30% !important;
}
/*new swiper*/
.new_swiper {
    position: relative;
}
.page-wrap {
	width: 100%;
	margin: 0 auto;
}

.slide-container,
.thumb-container {
	width: 100%;
	overflow: auto;
	scroll-snap-type: x mandatory;
	
	display: flex;
	padding: 0;

	li {
		display: block;
	}
	
	&__wrap {
		overflow: hidden; // hide the scrollbar
	}
}

.slide-container {
	$slide-w: 100%;
	$padding: 10px;
	scroll-padding: (100% - $slide-w) / 2;

	li {
		flex: 0 0 $slide-w;
		padding: 0 $padding;
		position: relative;
		scroll-snap-align: start;
	}
	
}
.slide-container {
    height: 210px;
}

.thumb-container::-webkit-scrollbar {
    width: 0;
  }
  .slide_wripper_content {
    max-width: 1280PX;
    margin: 0 auto;
    h3 {
        font-family: Roboto;
font-size: 24PX;
font-weight: 700;
line-height: 28PX;
letter-spacing: 0em;
text-align: left;
color: #000000;
    }
  }
.slide_wripper_content_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    p {
        width: 45%;
        font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #000000;
    }
}
.slide-container {
    overflow: hidden;
}
.prev {
    content: url(../img/service_page/arrov.svg);
    width: 40PX;
    height: 60PX;
}
.next {
    content: url(../img/service_page/arrov.svg);
    width: 40PX;
    height: 60PX;
    rotate: 180deg;
}
.thumb-container__wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 460px;
}
@media (min-width: 765px) {
	.slide-container {
		scroll-padding: 0;
		
		li {
			flex-basis: 100%;
			padding: 0;
		}
		
		p {
			right: 0;
			left: 0;
		}
	}
	.thumb-container {
		&.scrolling {
			scroll-snap-type: none;
		}

		li {
			flex: 0 0 (100% / 5);
			scroll-snap-align: center;
		}

		a {
			display: block;
			width: 100%;
			pointer-events: none;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-origin: border-box;
			overflow: hidden;
			transition: border-color .3s;
            
			&.active {
				width: 105%;
                margin-top: -5%;
			}
		}

		&__wrap {
			position: relative;
			display: flex;
		}
	}

	.prev,
	.next {
		display: flex;
		align-items: center;

		&.disabled {
			pointer-events: none;
			opacity: .5;
		}
	}
}