.team_page_button_wrapper {
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin: 10px 0 80px 0;
}
.team_page_button {
min-width: 374px;
height: 50px;
background: #003D9E;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
border: 0;
}
#team_memb_1,#team_memb_2,#team_memb_3,#team_memb_4,#team_memb_5,#team_memb_6 {
    display: none;
}
.team_memb_active {
    display: block;
}
/*new swiper*/
/*------------------ Custom Scrollbar ------------------*/

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background-color: var(--main-background);
}

::-webkit-scrollbar-thumb{
    background-color: var(--dark-cyan);
}

.home,
.home-popular,
.home-header,
.home-popular h3{
    width: fit-content;
}




.home{
    display: flex;
    flex-direction: row;
}



.home-popular h3{
    text-transform: capitalize;
    margin: auto;
    margin-bottom: 25px;
    font-size: 30px;
}

.home-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.home-header h1{
    font-size: 5.5rem;
    text-transform: capitalize;
    font-weight: 700;
}

.slider{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  position: relative;
  margin:  0 auto;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

li{
  width: fit-content;
  height: fit-content;
}

li img{
  border-radius: 5% / 3%;
  border: 1px solid var(--main-background);
  position: relative;
}

.slider-prev,
.slider-next{
  height: fit-content;
  background-color: inherit;
  font-size: 30px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  top: 160px;
}

.slider-prev{
  left: 40px;
}

.slider-next{
  left: 670px;
}

.slider-prev::before{
  content: '<';
  margin-right: 15px;
}

.slider-next::before{
  content: '>';
  margin-left: 15px;
}

.description{
  position: relative;
  top: 350px;
}

.description h3{
  display: none;
}

.further-description{
  position: relative;
  top: 350px;
  left: 170px;
}

.further-description h2{
  text-transform: capitalize;
  display: none;
  font-size: 1.2rem;
  font-weight: 400;
  width: 55%;
  text-align: center;
  text-transform: none;
}

h2.active{
  display: block;
}

h3.active{
  display: block !important;
}

.item{
  flex: 1 0 25%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

.small1, .small2 {
  height: 200px;
  position: absolute;
  z-index: -1;
  top: 70px;
}

.big1, .big2 {
  height: 250px;
  position: absolute;
  z-index: 0;
  top: 40px;
}

.small1{
  left: 90px;
}

.big1{
  left: 170px;
}

.focus {
  position: absolute;
  z-index: 1;
  height: 300px;
  left: 270px;
  top: 10px;
}

.big2{
  left: 400px;
}

.small2{
  left: 520px;
}