.member_card_wrapper {
    display: flex;
    flex-direction: row;
}
.member_card_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member_card_img_input {
    min-width: 296px;
    height: 50px;   
    margin: 50px 0;
    background: #003D9E;
    border-radius: 4px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
border: 0;
}
.member_card_info {
    display: flex;
    flex-direction: column;
}
.member_card_info_hero {
    display: flex;
    flex-direction: row;
}
.member_card_info_main {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 50px;
    align-items: flex-start;
    h3 {
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
padding: 0;
color: #000000;
margin: 10px 0;
    }
    h4 {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #848484;
margin: 10px 0;
    }
}
.member_card_info_main_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    h3 {
        width: 25%;
    }
}
.member_page_card_line {
    border-bottom: 1px solid #EEEEEE;
    width: 75%;
}
.member_card_contacts {
    display: flex;
    flex-direction: column;
    p {
        width: 75%;
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
    }
}
.member_card_contacts_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
   p {
    padding: 0 10px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #000000;
margin: 10px 0;
   }
}
.member_icon_phone {
    width: 20px;
    height: 20px;
}
.member_icon_mail {
    width: 22px;
    height: 16px;
}
.member_card_info_sub {
    width: 15%;
    display: flex;
    flex-direction: column;
    h3 {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 22px;
color: #000000;
    }
}
.member_card_sub_img {
    position: relative;
    img {
        width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 0;
    }
}
.member_card_sub_img::before {
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(0deg, rgba(255, 255,255, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
  }
.card_info_sub_gradient {
    z-index: 50;
}
/*raiting*/
.rating-result {
    margin: 10px 0;
}
.rating-result span {
	font-size: 16px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: #003D9E;
}
.card_info_sub_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
border-radius: 10px;
    p {
        padding: 0 0 5px 0;
        margin: 0 0 10px 0;
    }
    h3 {
        padding: 0 0 5px 0;
        margin: 0;
    }
}
.member_card_sub_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin: 50px;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
border-radius: 10px;
h3 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #000000;
padding: 0 30px;

p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}

}
}
.member_card_study {
    padding: 0 20px 20px 20px;
    li {
        color: #003D9E;
    }
    p {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
    }
}
/*mobile*/


@media ( min-width: 320px) and (max-width: 1225px) {
    .member_card_img {
        img {
            width: 100%;
            border-radius: 10px;
        }
        
    }
    .member_card_img_input {
        min-width: 100%;
    }
    .member_page_card_line {
        display: none;
    }
    .member_card_info_main {
        width: 100%;
        padding: 0 20px;
    }
    .member_card_info_main_wrapper {
        h3 {
            width: 100%;
        }
    }
    .member_card_info_sub {
        display: none;
    }
    .member_card_contacts_wrapper {
        p {
            width: 100%;
        }
    }
    .member_card_sub_info {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .work_with_mob_title {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #000000;
padding: 20px 0 0 0;
    }
    .member_reviews {
        h2 {
            font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
align-items: center;
color: #000000;
        }
    }
}
 @media ( min-width: 550px) and (max-width: 800px) {
    .member_reviews_slider_item {
        width: 50% !important;
    }
 }