.member_card_wrapper {
    display: flex;
    flex-direction: row;
}
.member_card_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member_card_img_input {
    min-width: 296px;
    height: 50px;   
    margin: 50px 0;
    background: #003D9E;
    border-radius: 4px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
border: 0;
}
.member_card_info {
    display: flex;
    flex-direction: column;
}
.member_card_info_hero {
    display: flex;
    flex-direction: row;
}
.member_card_info_main {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 0 20px;
    align-items: flex-start;
}
.member_card_info_sub {
    width: 35%;
    display: flex;
    flex-direction: column;
}
/*raiting*/
.rating-result {
	width: 265px;
}
.rating-result span {
	padding: 0;
	font-size: 26px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: #003D9E;
}